
html {
    background-color: #a9b0b1;
    width: 100%;
    height: 100%;
}

.app {
    width: 655px;
    height: 317px;
    background-color: white;
    position: absolute;
    left: 516px;
    top: 235px;
    border-radius: 8px;
    overflow: hidden;
}

.app__btn {
    position: absolute;
    left: 219px;
}

.app__button-3 {
    top: 107px;
    left: 1px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}
.app__button-4 {
    top: 107px;
    left: 220.9px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-5 {
    top: 0px;
    left: 1px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-6 {
    top: 0px;
    left: 220.9px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-7 {
    bottom: -320px;
    left: 1px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-8 {
    bottom: -320px;
    left: 220.9px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-0 {
    top: 0px;
    left: 0px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-1 {
    top: 107px;
    left: -219px;
    width: 216px;
    height: 104px;
    position: absolute;
    border: none;
    background-color: #3779cb;
    overflow: hidden;

}

.app__button-2 {
    position: absolute;
    width: 216px;
    height: 105px;
    left: -219px;
    top: 215px;
    border: none;
    background-color: #3779cb;
    justify-content: center;
    overflow: hidden;
}

.app__go {
    cursor: pointer;
    font-size: 50px;
    color: white;
    font-style: italic;
}
/* Modal */

.modal {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.4;
}

.modal__main {
    box-shadow: 4px 5px 4px 2px #ccc;
    width: 779px;
    height: 292px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    left: 482px;
    top: 215px;
    position: absolute;
    font-size: 20px;
}

.modal__button {
    display: flex;
    position: absolute;
    left: 326px;
}

.modal__header {
    font-size:35px;
    margin-bottom: 58px;
}

.modal__header::after {
    content: "";
    position: absolute;
    left: 0;
    top:67px ;
    width: 779px;
    height: 1px;
    background-color: #ccc;
}

.btn {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc!important;
    border-radius: 4px;
    margin: 0 4px;
    background-color: white;
    border: none;
    font-size: 20px;
    font-style: italic;
}

.btn:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.or {
    margin-top: 10px;
}

/* Variables */
.close {
    display: none !important;
}

.close1 {
    display: none !important;
}
